In [3]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [4]:
# FONCTION AFFICHAGE DES 3 DATAFRAMES

def fn_affichage_classements(url):
    response = requests.get(url)
    # return(response)
    if response.status_code == 200:
        # return('test')

        # je crée une variable soup surn laquelle j'applique BeautifulSoup
        # avec en paramètre url.text et je découpe avec html.parser
        soup = BeautifulSoup(response.text, 'html.parser')
        # return(soup)   

        # NOM EQUIPES
        # je recherche les noms de toutes les équipes avec la balise a et la classe affichée sur la page internet
        list_nom_equipes = soup.find_all('a', {'class': 'base-link base-link--black'})

        # je crée une boucle insérer les noms des equipes dans une liste
        list_team = []
        for ele in list_nom_equipes:
                ele = str(ele)
                # Appliquer la regex à chaque élément `ele`
                match = re.search(r'>([^<]+)<', ele)
                if match:  # Vérifier si la regex a trouvé un résultat
                    list_team.append(match.group(1).strip())
        # print(list_team)    
        
        points_equipes = soup.find_all('div', {'class': 'table-line__cell--small'})
        list_points_team = []
        for points in points_equipes:
            # print(points)
            points = str(points)
            regex_points = re.search(r'[0-9]+', points)
            # print(regex_points)
            # regex_points[0]
            # print(regex_points[0])
            list_points_team.append(regex_points[0])

        all_team = soup.find_all('div', {'class': 'table-line table-line--ranking-full table-line--ranking-scrollable'})
        list_matchs_joues = []
        list_matchs_gagnes = []
        list_matchs_nuls = []
        list_matchs_perdus = []

        for team in range(0, 14):
            for data in range(1, 5):
                if data == 1:
                    points_test = all_team[team].find_all('div', {'class': ''})[data]
                    # print(re.search(r'[0-9]+', str(points_test))[0])
                    list_matchs_joues.append(re.search(r'[0-9]+', str(points_test))[0])
                elif data == 2:
                    points_test = all_team[team].find_all('div', {'class': ''})[data]
                    # print(re.search(r'[0-9]+', str(points_test))[0])
                    list_matchs_gagnes.append(re.search(r'[0-9]+', str(points_test))[0])
                elif data == 3:
                    points_test = all_team[team].find_all('div', {'class': ''})[data]
                    # print(re.search(r'[0-9]+', str(points_test))[0])
                    list_matchs_nuls.append(re.search(r'[0-9]+', str(points_test))[0])
                else:
                    points_test = all_team[team].find_all('div', {'class': ''})[data]
                    # print(re.search(r'[0-9]+', str(points_test))[0])
                    list_matchs_perdus.append(re.search(r'[0-9]+', str(points_test))[0])

        return(display(pd.DataFrame({
                "Equipes": list_team,
                "Pts": list_points_team,
                "Matchs joués": list_matchs_joues,
                "Gagnés": list_matchs_gagnes,
                "Nuls": list_matchs_nuls,
                "Perdus": list_matchs_perdus
                })))
    else:
        print("Erreur d'url")

In [5]:
# urls = ["https://top14.lnr.fr/classement", "https://top14.lnr.fr/classement/domicile", "https://top14.lnr.fr/classement/exterieur"]

dico_urls = {"https://top14.lnr.fr/classement": "Classement général", "https://top14.lnr.fr/classement/domicile": "Classement domicile", "https://top14.lnr.fr/classement/exterieur": "Classement extèrieur"}
for url in dico_urls.keys():
    dico_urls[url]
    print(dico_urls[url])
    # print(url)
    fn_affichage_classements(url)

Classement général

                      Equipes Pts Matchs joués Gagnés Nuls Perdus
0       Union Bordeaux-Bègles  50           14     11    0      3
1            Stade Toulousain  47           14      9    1      4
2                   RC Toulon  43           14      9    0      5
3                ASM Clermont  38           14      8    0      6
4            Aviron Bayonnais  38           14      9    0      5
5             Stade Rochelais  36           14      8    0      6
6   Montpellier Hérault Rugby  34           14      7    0      7
7           Castres Olympique  31           14      7    0      7
8                   Racing 92  26           14      5    1      8
9                   LOU Rugby  26           14      5    2      7
10            Section Paloise  25           14      5    0      9
11              USA Perpignan  24           14      5    0      9
12       Stade Français Paris  23           14      5    0      9
13                  RC Vannes  16           14      3    0     11

Classement domicile

                      Equipes Pts Matchs joués Gagnés Nuls Perdus
0                   RC Toulon  32            7      7    0      0
1       Union Bordeaux-Bègles  31            7      7    0      0
2             Stade Rochelais  31            8      7    0      1
3                ASM Clermont  29            7      6    0      1
4            Aviron Bayonnais  29            7      7    0      0
5           Castres Olympique  29            8      7    0      1
6            Stade Toulousain  25            6      5    0      1
7   Montpellier Hérault Rugby  23            7      5    0      2
8             Section Paloise  23            7      5    0      2
9        Stade Français Paris  23            7      5    0      2
10              USA Perpignan  22            7      5    0      2
11                  LOU Rugby  19            7      4    1      2
12                  Racing 92  16            6      3    1      2
13                  RC Vannes  10            7      2    0      5

Classement extèrieur

                      Equipes Pts Matchs joués Gagnés Nuls Perdus
0            Stade Toulousain  22            8      4    1      3
1       Union Bordeaux-Bègles  19            7      4    0      3
2   Montpellier Hérault Rugby  11            7      2    0      5
3                   RC Toulon  11            7      2    0      5
4                   Racing 92  10            8      2    0      6
5            Aviron Bayonnais   9            7      2    0      5
6                ASM Clermont   9            7      2    0      5
7                   LOU Rugby   7            7      1    1      5
8                   RC Vannes   6            7      1    0      6
9             Stade Rochelais   5            6      1    0      5
10          Castres Olympique   2            6      0    0      6
11              USA Perpignan   2            7      0    0      7
12            Section Paloise   2            7      0    0      7
13       Stade Français Paris   0            7      0    0      7

# scrap du classement general TOP 14

In [4]:
# je stocke l'url de la page à scraper dans une variable avec requests.get
# url = requests.get("https://top14.lnr.fr/classement")

In [5]:
# j'affiche la réponse, si 200 = OK
# url

In [6]:
# j'utilise .text sur ma variable afin d'afficher son contenu
# print(url.text)

In [7]:
# je crée une variable soup surn laquelle j'applique BeautifulSoup
# avec en paramètre url.text et je découpe avec html.parser
# soup = BeautifulSoup(url.text, 'html.parser')

In [8]:
# soup

- scraper le nom des equipes pour constituer une liste

In [9]:
# je recherche les noms de toutes les équipes avec la balise a et la classe affichée sur la page internet
# list_nom_equipes = soup.find_all('a', {'class': 'base-link base-link--black'})

In [10]:
# je vérifie que les noms des équipes sont bien dans ma liste
# list_nom_equipes

In [11]:
# html = '<a class="base-link base-link--black" href="https://top14.lnr.fr/club/bordeaux-begles"> Union Bordeaux-Bègles</a>'
# texte = re.search(r'>([^<]+)<', html).group(1).strip()
# print(texte)

In [12]:
# list_team = []
# for ele in list_nom_equipes:
#     ele = str(ele)
#     # Appliquer la regex à chaque élément `ele`
#     match = re.search(r'>([^<]+)<', ele)
#     if match:  # Vérifier si la regex a trouvé un résultat
#         list_team.append(match.group(1).strip())

# # Afficher le résultat final
# print(list_team)

- scraper le total des points des equipes pour constituer une liste

In [13]:
# points_equipes = soup.find_all('div', {'class': 'table-line__cell--small'})

In [14]:
# points_equipes[1]

In [15]:
# changement type variable points_equipes en str pour pouvoir la manipuler

# str(points_equipes[0])

In [16]:
# # test regex affichage points equipes

# regex_points = re.search(r'[0-9][0-9]', str(points_equipes[0]))
# regex_points[0]

In [17]:
# FONCTIONNE POUR GENERAL ET DOMICILE

# list_points_team = []
# for points in points_equipes:
#     # print(points)
#     points = str(points)
#     regex_points = re.search(r'[0-9][0-9]', points)
#     # print(regex_points)
#     regex_points[0]
#     # print(regex_points[0])
#     list_points_team.append(regex_points[0])

# print(list_points_team)

In [18]:
# list_points_team = []
# for points in points_equipes:
#     # print(points)
#     points = str(points)
#     regex_points = re.search(r'[0-9]+', points)
#     # print(regex_points)
#     # regex_points[0]
#     # print(regex_points[0])
#     list_points_team.append(regex_points[0])

# print(list_points_team)

In [19]:
# regex_points = re.search(r'>\s*(\d+)\s*<', points[0])
# regex_points

# FIND_ALL TOUTES INFOS SUR EQUIPES

In [20]:
# all_team = soup.find_all('div', {'class': 'table-line table-line--ranking-full table-line--ranking-scrollable'})

In [21]:
# all_team

In [22]:
# # RECUPERE LE NB DE POINTS TOTAL D UNE EQUIPE
# # FONCTIONNE 

# points = all_team[0].find_all('div', {'class': 'table-line__cell--small'})[0]
# re.search(r'[0-9]+', str(points))[0]

In [23]:
# # RECUPERE LES INFOS RESULTATS DES MATCHS POUR CHAQUE EQUIPE 
# # FONCTIONNE
# # ITERE SUR ALL_TEAM ==> RECUPERE VIA [] PREMIERE LIGNE LES INFOS GAGNE, NUL, PERDU 

# points_test = all_team[1].find_all('div', {'class': ''})[3]
# re.search(r'[0-9]+', str(points_test))[0]

In [24]:
# # RECUPERATION DES MATCHS D UNE EQUIPE 
# # FONCTIONNE POUR UNE EQUIPE

# for data in range(1, 5):
#     points_test = all_team[0].find_all('div', {'class': ''})[data]
#     print(re.search(r'[0-9]+', str(points_test))[0])

In [25]:
# list_matchs_joues = []
# list_matchs_gagnes = []
# list_matchs_nuls = []
# list_matchs_perdus = []

# for team in range(0, 14):
#     for data in range(1, 5):
#         if data == 1:
#             points_test = all_team[team].find_all('div', {'class': ''})[data]
#             # print(re.search(r'[0-9]+', str(points_test))[0])
#             list_matchs_joues.append(re.search(r'[0-9]+', str(points_test))[0])
#         elif data == 2:
#             points_test = all_team[team].find_all('div', {'class': ''})[data]
#             # print(re.search(r'[0-9]+', str(points_test))[0])
#             list_matchs_gagnes.append(re.search(r'[0-9]+', str(points_test))[0])
#         elif data == 3:
#             points_test = all_team[team].find_all('div', {'class': ''})[data]
#             # print(re.search(r'[0-9]+', str(points_test))[0])
#             list_matchs_nuls.append(re.search(r'[0-9]+', str(points_test))[0])
#         else:
#             points_test = all_team[team].find_all('div', {'class': ''})[data]
#             # print(re.search(r'[0-9]+', str(points_test))[0])
#             list_matchs_perdus.append(re.search(r'[0-9]+', str(points_test))[0])
#     # print('---')

# print(list_matchs_joues)
# print(list_matchs_gagnes)
# print(list_matchs_nuls)
# print(list_matchs_perdus)

In [26]:
# df_test = pd.DataFrame({
#     "Equipes": list_team,
#     "Pts": list_points_team,
#     "Matchs joués": list_matchs_joues,
#     "Gagnés": list_matchs_gagnes,
#     "Nuls": list_matchs_nuls,
#     "Perdus": list_matchs_perdus
# })

In [27]:
# df_test

In [28]:
# regex_nb_matchs = re.search(r'[0-9][0-9]', str(nb_matchs[4:8][0]))
# regex_nb_matchs[0]

In [29]:
# for team in range(0, 2):    
#     for matchs in nb_matchs[(4*(team+1)):(4*(team+1)+4)]:
#         # print(matchs)
#         matchs = str(matchs)
#         # print(matchs[0])
#         regex_matchs = re.search(r'[0-9]+', matchs)
#         print(regex_matchs[0])

In [30]:
# list_nb_matchs = []
# for ele in range(0,4):
#     for matchs in nb_matchs[4:8][ele]:
#         matchs = str(matchs)
#         # print(matchs)
#         regex_nb_matchs = re.search(r'[0-9][0-9]', str(nb_matchs[4:8]))
#         print(regex_nb_matchs[0])

In [31]:
# df_classement_general = pd.DataFrame({
#                                         "Equipes": list_team,
#                                         "Points": list_points_team
# })

In [32]:
# df_classement_general

In [33]:
# url = "https://top14.lnr.fr/classement/domicile"

# def classement_general(url):
    
#     page = requests.get(url)
#     # return(page.text)
    
#     soup = BeautifulSoup(page.text, 'html.parser')
#     # return(soup)
    
#     list_nom_equipes = soup.find_all('a', {'class': 'base-link base-link--black'})
#     # return(list_nom_equipes)
    
#     list_team = []
#     for ele in list_nom_equipes:
#         ele = str(ele)
#         # Appliquer la regex à chaque élément `ele`
#         match = re.search(r'>([^<]+)<', ele)
#         if match:  # Vérifier si la regex a trouvé un résultat
#             list_team.append(match.group(1).strip())

#     # Afficher le résultat final
#     # return(list_team)
    
#     list_points_team = []
#     for points in points_equipes:
#         # print(points)
#         points = str(points)
#         regex_points = re.search(r'[0-9][0-9]', points)
#         # print(regex_points)
#         regex_points[0]
#         # print(regex_points[0])
#         list_points_team.append(regex_points[0])

#     # return(list_points_team)
    
#     return(pd.DataFrame({
        
#                 "Equipes":list_team,
#                 "Pts": list_points_team
#     }))

In [34]:
# classement_general(url)

In [35]:
# urls = ["https://top14.lnr.fr/classement", "https://top14.lnr.fr/classement/domicile", "https://top14.lnr.fr/classement/exterieur"]

In [36]:
# for url in urls:
#     display(classement_general(url))
#     print('---')

# Création d'une fonction pour l'affichage des 3 tableaux (général, domicile, extérieur)

In [37]:
# FONCTION AFFICHAGE DES 3 DATAFRAMES

def fn_affichage_classements(url):
    response = requests.get(url)
    # return(response)
    if response.status_code == 200:
        # return('test')

        # je crée une variable soup surn laquelle j'applique BeautifulSoup
        # avec en paramètre url.text et je découpe avec html.parser
        soup = BeautifulSoup(response.text, 'html.parser')
        # return(soup)   

        # NOM EQUIPES
        # je recherche les noms de toutes les équipes avec la balise a et la classe affichée sur la page internet
        list_nom_equipes = soup.find_all('a', {'class': 'base-link base-link--black'})

        # je crée une boucle insérer les noms des equipes dans une liste
        list_team = []
        for ele in list_nom_equipes:
                ele = str(ele)
                # Appliquer la regex à chaque élément `ele`
                match = re.search(r'>([^<]+)<', ele)
                if match:  # Vérifier si la regex a trouvé un résultat
                    list_team.append(match.group(1).strip())
        # print(list_team)    
        
        points_equipes = soup.find_all('div', {'class': 'table-line__cell--small'})
        list_points_team = []
        for points in points_equipes:
            # print(points)
            points = str(points)
            regex_points = re.search(r'[0-9]+', points)
            # print(regex_points)
            # regex_points[0]
            # print(regex_points[0])
            list_points_team.append(regex_points[0])

        all_team = soup.find_all('div', {'class': 'table-line table-line--ranking-full table-line--ranking-scrollable'})
        list_matchs_joues = []
        list_matchs_gagnes = []
        list_matchs_nuls = []
        list_matchs_perdus = []

        for team in range(0, 14):
            for data in range(1, 5):
                if data == 1:
                    points_test = all_team[team].find_all('div', {'class': ''})[data]
                    # print(re.search(r'[0-9]+', str(points_test))[0])
                    list_matchs_joues.append(re.search(r'[0-9]+', str(points_test))[0])
                elif data == 2:
                    points_test = all_team[team].find_all('div', {'class': ''})[data]
                    # print(re.search(r'[0-9]+', str(points_test))[0])
                    list_matchs_gagnes.append(re.search(r'[0-9]+', str(points_test))[0])
                elif data == 3:
                    points_test = all_team[team].find_all('div', {'class': ''})[data]
                    # print(re.search(r'[0-9]+', str(points_test))[0])
                    list_matchs_nuls.append(re.search(r'[0-9]+', str(points_test))[0])
                else:
                    points_test = all_team[team].find_all('div', {'class': ''})[data]
                    # print(re.search(r'[0-9]+', str(points_test))[0])
                    list_matchs_perdus.append(re.search(r'[0-9]+', str(points_test))[0])

        return(display(pd.DataFrame({
                "Equipes": list_team,
                "Pts": list_points_team,
                "Matchs joués": list_matchs_joues,
                "Gagnés": list_matchs_gagnes,
                "Nuls": list_matchs_nuls,
                "Perdus": list_matchs_perdus
                })))

In [38]:
# urls = ["https://top14.lnr.fr/classement", "https://top14.lnr.fr/classement/domicile", "https://top14.lnr.fr/classement/exterieur"]

dico_urls = {"https://top14.lnr.fr/classement": "Classement général", "https://top14.lnr.fr/classement/domicile": "Classement domicile", "https://top14.lnr.fr/classement/exterieur": "Classement extèrieur"}
for url in dico_urls.keys():
    dico_urls[url]
    print(dico_urls[url])
    # print(url)
    fn_affichage_classements(url)

Classement général

                      Equipes Pts Matchs joués Gagnés Nuls Perdus
0       Union Bordeaux-Bègles  50           14     11    0      3
1            Stade Toulousain  47           14      9    1      4
2                   RC Toulon  43           14      9    0      5
3                ASM Clermont  38           14      8    0      6
4            Aviron Bayonnais  38           14      9    0      5
5             Stade Rochelais  36           14      8    0      6
6   Montpellier Hérault Rugby  34           14      7    0      7
7           Castres Olympique  31           14      7    0      7
8                   Racing 92  26           14      5    1      8
9                   LOU Rugby  26           14      5    2      7
10            Section Paloise  25           14      5    0      9
11              USA Perpignan  24           14      5    0      9
12       Stade Français Paris  23           14      5    0      9
13                  RC Vannes  16           14      3    0     11

Classement domicile

                      Equipes Pts Matchs joués Gagnés Nuls Perdus
0                   RC Toulon  32            7      7    0      0
1       Union Bordeaux-Bègles  31            7      7    0      0
2             Stade Rochelais  31            8      7    0      1
3                ASM Clermont  29            7      6    0      1
4            Aviron Bayonnais  29            7      7    0      0
5           Castres Olympique  29            8      7    0      1
6            Stade Toulousain  25            6      5    0      1
7   Montpellier Hérault Rugby  23            7      5    0      2
8             Section Paloise  23            7      5    0      2
9        Stade Français Paris  23            7      5    0      2
10              USA Perpignan  22            7      5    0      2
11                  LOU Rugby  19            7      4    1      2
12                  Racing 92  16            6      3    1      2
13                  RC Vannes  10            7      2    0      5

Classement extèrieur

                      Equipes Pts Matchs joués Gagnés Nuls Perdus
0            Stade Toulousain  22            8      4    1      3
1       Union Bordeaux-Bègles  19            7      4    0      3
2   Montpellier Hérault Rugby  11            7      2    0      5
3                   RC Toulon  11            7      2    0      5
4                   Racing 92  10            8      2    0      6
5            Aviron Bayonnais   9            7      2    0      5
6                ASM Clermont   9            7      2    0      5
7                   LOU Rugby   7            7      1    1      5
8                   RC Vannes   6            7      1    0      6
9             Stade Rochelais   5            6      1    0      5
10          Castres Olympique   2            6      0    0      6
11              USA Perpignan   2            7      0    0      7
12            Section Paloise   2            7      0    0      7
13       Stade Français Paris   0            7      0    0      7